@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*  {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
.nav .logo {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    padding: 15px;
}


.nav {
    background: #000;
    display: flex;
    align-items: center;
}

.nav li a {
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
}

.nav .nav-items {
    display: flex;
    flex:  1;
    padding: 0 0 0 100px;
    list-style: none;
}

form input {
    border-radius: 5px;
    width: 250px;
    height: 30px;
    padding: 2px;
}

.city {
    box-shadow: 5px 5px 10px 1px #9C9C9C;
    width: 200px;
    height: 150px;
    text-align: center;
}

.city h4 {
    color: #000;
    font-size: 20px;
}

.city a {
    text-decoration: none;
}


.city img { 
    width: 100px;
    height: 100px;
}